:root {
	--blue: #5C99D1;
	--light-grey: #DFDFDF;
	--dark-grey: #444444;
}

@font-face {
	font-family: 'Avenir Next';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: local('Avenir Next'), local('Avenir-Next'),
		url("../font/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'Avenir Next';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: local('Avenir Next Bold'), local('Avenir-Next-Bold'),
		url("../font/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

body {
	margin: 0;
	font-family: "Avenir Next", Arial, sans-serif;
	color: var(--dark-grey);
}

header {
	background: var(--blue);
	padding: 20px 0px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

section {
	padding-bottom: 20px;
}

/* For the webpage title */
h1 {
	font-size: 54px;
	margin: 0;
}

.filter-group {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	margin-bottom: 10px;
	max-width: 400px;
}

label {
	font-weight: bold;
	font-size: 18px;
}

select {
	font-family: "Avenir Next", Arial, sans-serif;
	background-color: white;
	color: var(--dark-grey);
	font-size: 16px;
}

/* For the article titles */
a {
	color: var(--blue);
	text-decoration: none;
	transition: all 0.3s ease-out;
	font-weight: bold;
}

a:hover {
	color: var(--dark-grey);
	text-decoration: none;
}

.article {
	border-bottom: 1px #bbb solid;
}

/* Adding the horizontal lines */
.article:last-child {
	border-bottom: none;
}

.container {
	padding: 1em;
}

.loader {
    border: 16px solid var(--light-grey);
    border-top: 16px solid var(--blue);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 2em;
}

@keyframes spin {
    0%		{transform: rotate(0deg);}
    100%	{transform: rotate(360deg);}
}

/* For screens larger than phones */
/* More spacing on left & right & articles are broken into 2 columns */
@media(min-width: 586px){
	header, section {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 60em) 1fr;
	}

	.container {
		grid-column: 2;
	}

	.article-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.article {
		padding: 1em;
	}

	/* Adding the vertical lines */
	.article:nth-child(odd) {
		border-right: 1px #bbb solid;
	}

	/* Grabs second last child if it's also odd */
	.article:nth-child(odd).article:nth-last-child(2) { 
		border-bottom: none;
	}
}