body {
	margin: 0;
	font-family: Avenir;
	background: #eaeaea;
}

header {
	background: #0099dd;
	padding: 20px 0px;
	color: #fff;
	margin-bottom: 10px;
}

section {
	padding-bottom: 20px;
}

/* For the webpage title */
h1 {
	font-size: 54px;
	margin: 0;
}

/* For the article titles */
a {
	color: #0099dd;
	text-decoration: none;
}

a:hover {
	color: #0077bb;
	text-decoration: none;
}

.article {
	border-bottom: 1px #bbb solid;
}

/* Adding the horizontal lines */
.article:last-child {
	border-bottom: none;
}

.container {
	padding: 1em;
}

.loading {
	
	height: 200px;
	display: block;
	margin: auto;
	padding-top: 1em;
}

.loader {
    border: 16px solid #ffffff;
    border-top: 16px solid #0099dd;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 2em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* For screens larger than phones */
/* More spacing on left & right & articles are broken into 2 columns */
@media(min-width: 586px){
	header, section {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 60em) 1fr;
	}

	.container {
		grid-column: 2;
	}

	.article-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.article {
		padding: 1em;
	}

	/* Adding the vertical lines */
	.article:nth-child(odd) {
		border-right: 1px #bbb solid;
	}

	/* Grabs second last child if it's also odd */
	.article:nth-child(odd).article:nth-last-child(2) { 
		border-bottom: none;
	}
}